build/
managed_components/
sdkconfig
sdkconfig.old
dependencies.lock
main/secrets.h
agent/.token
calibration.json
presets
presets/
./presets/*
agent/limits_cache.json
agent/pusher.json
agent/pusher.log
agent/__pycache__/
tools/preview/
